### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import re


# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

In [46]:
purchase_data.shape

(780, 7)

In [47]:
num_rows = purchase_data.shape[0]
num_rows

780

## Player Count

* Display the total number of players

In [48]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [93]:
purchase_data_unique = purchase_data.loc[:,['Gender','SN','Age']].drop_duplicates()
purchase_data_unique

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [49]:
#PURCHASING ANALYSIS
unique_purchases_count = len(unique_purchases)
unique_purchases_count

179

In [50]:
average_price = purchase_data["Price"].mean()
print(average_price)

3.050987179487176

In [51]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [52]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [53]:
total_revenue = purchase_data.loc[:, 'Price'].sum()

In [54]:
total_revenue = len(purchase_data['Price'])
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [55]:
purchase_data['Price'] = pd.to_numeric(purchase_data.Price)
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Total)

In [56]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [57]:
unique_items = purchase_data["Item ID"].value_counts
print(unique_items)

<bound method IndexOpsMixin.value_counts of 0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64>

In [58]:
purchasing_analysis = pd.DataFrame({
    "Number of Unique Items":[unique_purchases_count],
    "Average Price":[average_price],
    "Number of Purchases":[num_rows],
    "Total Revenue":[total_revenue]
})
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [91]:
unique_sn = len(purchase_data['SN'].unique())
unique_sn

576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [59]:
#GENDER DEMOGRAPHICS

In [60]:
gender = purchase_data_unique['Gender'].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [101]:
gender_group = purchase_data_unique.groupby('Gender')
count_gender = gender_group['Gender'].count()
count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [113]:
gender_total = purchase_data_unique['Gender'].value_counts()
gender_total

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [115]:
gender_perc = (gender_total / unique_sn)
gender_perc

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [102]:
#gender_m = gender['Male']
#gender_f = gender['Female']
#gender_nd = gender['Other / Non-Disclosed']

In [107]:
#percent_gender_m = (100. * gender_m / gender_m.sum()).round(1).astype(str) + '%'
#percent_gender_f = (100. * gender_f / gender_f.sum()).round(1).astype(str) + '%'
#percent_gender_nd = (100. * gender_nd / gender_nd.sum()).round(1).astype(str) + '%'

In [108]:
#percent_gender = (100. * count_gender / count_gender.sum()).round(1).astype(str) + '%'
#percent_gender

Gender
Female                   14.1%
Male                     84.0%
Other / Non-Disclosed     1.9%
Name: Gender, dtype: object

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [122]:
gender_analysis = pd.DataFrame({'Total Count':gender_total,
                                'Percentage of Players':gender_perc
})
gender_analysis['Percentage of Players'] = gender_analysis['Percentage of Players'].map("{:,.2%}".format)
gender_analysis

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [66]:
#GENDER PURCHASE ANALYSIS

In [123]:
purchase_count = purchase_data.groupby(['Gender']).count()["Price"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [124]:
gender_avg = purchase_data.groupby(['Gender']).mean()['Price']
gender_avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [125]:
tot_purchase_value = purchase_data.groupby(['Gender']).sum()['Price']
tot_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [126]:
avg_tot_purchase_person = tot_purchase_value / gender_analysis['Total Count']
avg_tot_purchase_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [128]:
purchase_analysis_gender = pd.DataFrame({
                            "Purchase Count": round((purchase_count), 2).astype(float),
                            "Average Purchase Price": round((gender_avg), 2).astype(float).map("${:,.2f}".format),
                            "Total Purchase Value": round((tot_purchase_value), 2).astype(float).map("${:,.2f}".format),
                            "Avg Total Purchase per Person": round((avg_tot_purchase_person), 2).astype(float).map("${:,.2f}".format),
                            })
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,$3.20,$361.94,$4.47
Male,652.0,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15.0,$3.35,$50.19,$4.56

avg_numb_purch = purchasing_analysis(num_rows)
avg_numb_purch
num_unique_players = purchase_data_unique['SN'].nunique()
num_unique_players


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
#AGE DEMOGRAPHICS
#create age_bins
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]

#names for age_bins
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_unique["Age Groups"] = pd.cut(purchase_data_unique["Age"], age_bins, labels=age_names, include_lowest=True, right=False )
purchase_data_unique

     Gender             SN  Age Age Groups
0      Male        Lisim78   20      20-24
1      Male    Lisovynya38   40        40+
2      Male     Ithergue48   24      20-24
3      Male  Chamassasya86   24      20-24
4      Male      Iskosia90   23      20-24
..      ...            ...  ...        ...
773    Male         Hala31   21      20-24
774    Male     Jiskjask80   11      10-14
775  Female     Aethedru70   21      20-24
777    Male     Yathecal72   20      20-24
778    Male        Sisur91    7        <10

[576 rows x 4 columns]

In [98]:
age_groups = purchase_data_unique['Age Groups'].value_counts()
age_groups

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Groups, dtype: int64

In [99]:
age_percent = age_groups / num_rows *100
age_percent

20-24    33.076923
15-19    13.717949
25-29     9.871795
30-34     6.666667
35-39     3.974359
10-14     2.820513
<10       2.179487
40+       1.538462
Name: Age Groups, dtype: float64

In [100]:
age_analysis = pd.DataFrame({"Count by Age Group": (age_groups),
                            "Percentage of Players": round((age_percent), 2).astype(float).map("{:,.2f}%".format)
                            })
age_analysis.sort_index()

       Count by Age Group Percentage of Players
<10                    17                 2.18%
10-14                  22                 2.82%
15-19                 107                13.72%
20-24                 258                33.08%
25-29                  77                 9.87%
30-34                  52                 6.67%
35-39                  31                 3.97%
40+                    12                 1.54%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#PURCHASING ANALYSIS (AGE)

In [83]:
purchase_count = purchase_data['Item Name'].value_counts()
purchase_count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Fiery Glass Crusader                             9
                                                ..
Ghost Reaver, Longsword of Magic                 1
Celeste                                          1
Exiled Mithril Longsword                         1
Undead Crusader                                  1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [84]:
avg_purchase_price = purchase_data['Price'].mean()
avg_purchase_price

3.050987179487176

In [79]:
purchase_analysis_age = pd.DataFrame({"Age Ranges": (age_groups),
                            "Purchase Count": round((purchase_count), 2).astype(float).map("{:,.2f}%".format),
                            "Average Purchase Count": round((avg_purchase_price), 2).astype(float).map("{:,.2f}%".format),
                            "Total Purchase Value": round((xxx), 2).astype(float).map("{:,.2f}%".format),
                            "Avg Total Purchase per Person": round((xxx), 2).astype(float).map("{:,.2f}%".format),
                            })
age_analysis

NameError: name 'xxx' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#TOP SPENDERS
top_spenders = purchase_data["SN"].value_counts()
top_spenders

Lisosia93       5
Iral74          4
Idastidru52     4
Lassilsala30    3
Ilarin91        3
               ..
Eustyria89      1
Wailin72        1
Laedallo55      1
Syathe73        1
Saena89         1
Name: SN, Length: 576, dtype: int64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame