### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

In [2]:
purchase_data.shape

(780, 7)

In [3]:
num_rows = purchase_data.shape[0]
print (num_rows)

780

## Player Count

* Display the total number of players

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
unique_purchases = purchase_data['Item Name'].unique()
unique_purchases

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [7]:
unique_purchases_count = len(unique_purchases)
unique_purchases_count

179

In [8]:
average_price = purchase_data["Price"].mean()
print(average_price)

3.050987179487176

In [9]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [12]:
total_revenue = purchase_data.loc[:, 'Price'].sum()

In [14]:
total_revenue = len(purchase_data['Price'])
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [16]:
purchase_data['Price'] = pd.to_numeric(purchase_data.Price)
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Total)

In [17]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [18]:
unique_items = purchase_data["Item ID"].value_counts
print(unique_items)

<bound method IndexOpsMixin.value_counts of 0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64>

In [20]:
purchasing_analysis = pd.DataFrame({
    "Number of Unique Items":[unique_purchases_count],
    "Average Price":[average_price],
    "Number of Purchases":[num_rows],
    "Total Revenue":[total_revenue]
})
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#GENDER

In [49]:
gender = purchase_data['Gender'].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [53]:
gender = purchase_data['Gender'].value_counts()
gender_m = gender['Male']
gender_f = gender['Female']
gender_nd = gender['Other / Non-Disclosed']

In [52]:
gender_nd

15

In [58]:
gender_m

652

In [55]:
gender_f

113

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
gender_analysis = pd.DataFrame({
    "Male":[gender_m],
    "Female":[gender_f],
    "Other / Non-Disclosed":[gender_nd]
})
gender_analysis

   Male  Female  Other / Non-Disclosed
0   652     113                     15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame